body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: blanchedalmond;
}
.linha{
    display: flex;
    justify-content: space-around;
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.texto1, .foto{
    margin: 50px;
}
.foto img{
    height: 250px;
    width: 200px;
    margin-right: 10px;
}
.texto1{
    text-align: center;
}
.texto{
    margin: 0 10px; 
} 
.left{
    text-align: left;
}
.left-align{
    text-align: left;
}